<!DOCTYPE html>
<html>
<head>
    <title>websocket</title>
</head>
<script type="text/javascript">
    var websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket('ws://localhost:8080/webSocket');
    } else {
        alert('该浏览器不支持websocket');
    }
    websocket.onopen = function (ev) {
        console.log('建立连接');
    };
    websocket.onclose = function (ev) {
        console.log('连接关闭');
    };
    websocket.onmessage = function (ev) {
        console.log('收到消息：' + ev.data);
        alert('收到消息：' + ev.data);
    };
    window.onbeforeunload = function (ev) {
        websocket.close();
    }
</script>
<body>
<h1>hello websocket</h1>
</body>
</html>